<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="2px" >
            <tr>
                <th>deptno</th>
                <th>empid</th>
                <th>empname</th>
                <th>empjob</th>
                <th>empsal</th>
                <th>empcomm</th>
                <th>emphirdate</th>
                <th>empmgr</th>
                <th>mgrname</th>
                <th>mgrid</th>
                <th>mgrsal</th>
            </tr>
            {% for edo in LMDO %}
             <tr>
                <th>{{edo.deptno}}</th>
                <th>{{edo.empid}}</th>
                <th>{{edo.empname}}</th>
                <th>{{edo.empjob}}</th>
                <th>{{edo.empsal}}</th>
                
                <th>{{edo.empcomm}}</th>
                <th>{{edo.emphirdate}}</th>
                <th>{{edo.empmgr}}</th>
                <th>{{edo.empmgr.empname}}</th>
                <th>{{edo.empmgr.empid}}</th>
                <th>{{edo.empmgr.empsal}}</th>

             </tr>
             {% endfor %}



        </table>
    </center>
</body>
</html>